

.section {
  width: 80%;
  margin: 0 auto;  
  padding: 2em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  
}

.section__h2,
.section__h3 {
  margin-top: 5vh;
  font-size: 2rem;
  margin-bottom: 0.1em;
  font-weight: bold;
  text-align: center;
  color: var(--text);
  text-align: center;
}

.section__p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.5em;
  color: var(--text);
  text-align: center;
}

.section__ul {
  width: 100%;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6em;
}

.section__li {
  width: 45%;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.section li strong {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--text);
  font-weight: var(--font-bold);
  text-align: center;
}

.section li span {
  text-align: center;
}

.section li:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section li:active {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1441px) and (max-width: 2560px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 425px) and (max-width: 767px) {
 
  .section__ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    position: relative;
    gap:  5rem;
  }
  

  .section__li{
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: aqua;
  }

  .section__li span{
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  .section__li strong{
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  
 
}

@media (min-width: 320px) and (max-width: 424px) {

  .section{
    width: 100%;
    padding: 0;
  }

  .section__ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .section__p {
    padding: 10px;    
    text-align:center;
  }

  .section__li{
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  .section__li span{
   font-size: 1rem;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  .section__li strong{

    display: flex;
    margin: 0 auto;
    width: 100%;
  }

}