 /* body */

 .body_light {
   --bg: hsl(39, 24%, 74%);
   --text: rgba(2, 0, 36, 1);;
   --bgImage: "../assets/network";
   --icon-footer: hsl(39, 24%, 74%);

 }

 .body_dark {
   --bg: linear-gradient(180deg, rgba(2, 0, 36, 1) 48%, rgba(7, 6, 81, 1) 73%, rgba(7, 7, 124, 1) 88%, rgba(2, 7, 140, 1) 100%);
   --text: #FFFFFF;
   --text-secondary: rgba(2, 0, 36, 1);
   --icon-footer:rgb(3 7 135);
 }

 body {
   display: flex;
   margin: 0 auto;
   width: 100%;
   flex-direction: column;
   background: var(--bg);  
   
 }
 @media (min-width: 425px) and (max-width: 768px) {

  body {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    background: var(--bg);  
    align-items: center;
    
  }
 
 
 .main {
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 } 

 @media (min-width: 320px) and (max-width: 424px) {

  body {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    background: var(--bg);  
    align-items: center;
    
  }
 
 
 .main {
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 } 
