 /* body */

 .body_light {
   --bg: #6AB7FF;
   --bg-secondary: #CED9E0;
   --text: #000000;
   --bgImage: "../assets/network";

 }

 .body_dark {
   --bg: linear-gradient(180deg, rgba(2, 0, 36, 1) 48%, rgba(7, 6, 81, 1) 73%, rgba(7, 7, 124, 1) 88%, rgba(2, 7, 140, 1) 100%);
   --bg-secondary: #EDDC00;
   --text: #FFFFFF;
   --text-secondary: rgba(2, 0, 36, 1);
 }

 body {
   display: flex;
   margin: 0 auto;
   width: 100%;
   flex-direction: column;
   background: var(--bg);
   
 }
