 
@media (min-width: 751px) and (max-width: 950px) {
  .header__section__titles {
    font-size: 1.4em;
  }
  }


@media (min-width: 521px) and (max-width: 750px) {
  header {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }



  .header__section__titles {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
  }
  .header__section__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    column-gap: 20px;
    width: 100%;

  }
  .header__section__buttons a{
    margin: 0;
    font-size: 1em;

  }

}

@media (max-width: 520px) {
  

  a,
  a:link,
  a:visited,
  a:active {
    color: var(--text);
    text-decoration: none;
  }

  .body__navBar {
    backdrop-filter: none;
    padding: 0;
  }

  header section {
    width: 100%;
  }


  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header__section__titles {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    font-size: 1.5em;
    line-height: 7vh;
  }

  .header__section__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    row-gap: 20px;
    width: 50%;

  }

  .header__section__buttons a {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;

    background-color: var(--bg-secondary);
    font-weight: 600;
    color: var(--text-secondary);

  }

  .header__img__imgFrontPage {
    margin-top: 10vh;
    
    padding-left: 0;
    padding: 0;
  }

  header section {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .header__section__buttons a button {
    font-size: 0.5em;
  }

  .body__navBar>span {
    display: block;
    font-size: 40px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    width: 100%;
    padding: 0%;
    text-align: right;
  }

  .nav__ul {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px
  }

  .nav__ul:nth-child(1) {
    order: 2;
    flex-direction: row;
    border-top: 2px solid var(--text);
    width: 100%;
    align-items: center;
  }

  .navBar {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 6vh;
    left: 0;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 3;
    backdrop-filter: blur(15px);
    height: 94vh;
    max-height: 564px;
    overflow-x: auto;
    transition: transform 0.5s ease-in-out;
  }

  .nav--transalate {
    transform: translateX(1000px);
  }

  .navBar__menu {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px
  }

  .body__navBar ul li {
    text-align: right;
  }

  .nav__li>span,
 

  .nav__li {
    text-align: right;
    padding: 20px 0;
  }

  
} 