/*bar_nav*/

.body__navBar {
  display: flex;
  width: 100%;
  position: fixed;
  height: 7vh;
  backdrop-filter: blur(15px);
  z-index: 1000;

}


.navBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.body__navBar span {
  display: none;
  color: var(--text);
}


.navBar__menu {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;

}

/*   .body__navBar ul li {
    text-align: center;
     margin: 0 20px;
     color: var(--text);
     font-size: 1.15em;
     font-weight: 400;
     padding: 6px 10px;
   } */

.body__navBar ul {
  color: var(--bg);
  padding: 0 1vw;
  font-size: 1.5rem;

}

.body__navBar ul li {
  background-color: var(--text);
  padding: 0 20px;
  margin: 0 10px;
  border-radius: 15px;
  font-weight: 500;
  border: 2px solid var(--text);
}

.body__navBar ul li a{
  color: var(--text-secondary);
}

.body__navBar ul li:hover {
  color: var(--text);
  background-color: var(--bg);
}

.body__navBar ul li:active {
  color: var(--bg);
  background-color: var(--text);
  transform: scale(0.8);
}

.body__navBar ul a li:hover {
  color: var(--text);
  background-color: var(--bg);

}

.nav_ul_lm {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  list-style: none;
  column-gap: 30px;
  
}



/*progress_bar*/
#progress {
  height: 2px;
  background-color: var(--text);
  position: fixed;
  top: 6vh;
  left: 0;
  z-index: 10;
  /* width: 30%; */
}

@media (min-width: 1440px) and (max-width: 2560px) {

  .body__navBar {
    backdrop-filter: blur(15px);
    padding: 0;
  }

  .body__navBar ul li {
    color: var(--bg);
    background-color: var(--text);
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 15px;
    font-weight: 500;
    border: 2px solid var(--text);
  }



}

@media (min-width: 1024px) and (max-width: 1439px) {

  .body__navBar {
    backdrop-filter: blur(15px);
    padding: 0;
  }

  .body__navBar ul {
    font-size: 1.2rem;
  }

  .body__navBar ul li {
    padding: 4px;

  }

  .body__navBar ul li a  {
    font-size: 1rem;
    padding: 0;
  }




}


@media (min-width: 768px) and (max-width: 1023px) {


  .body__navBar {
    backdrop-filter: none;
    padding: 0;
  }
  .body__navBar ul li a{
    color: var(--text);
  }
  

  .navBar {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 6vh;
    left: 0;
    justify-content: flex-start;
    align-items: flex-end;
    backdrop-filter: blur(15px);
    height: 94vh;
    max-height: 564px;
    overflow-x: auto;
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
  }


  .body__navBar>span {
    display: block;
    font-size: 40px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    width: 100%;
    padding: 0%;
    text-align: right;

  }

  .nav__ul {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px;

  }

  .nav__ul:nth-child(1) {
    order: 2;
    flex-direction: row;
    border-top: 2px solid var(--text);
    width: 100%;
    align-items: center;
  }


  .nav--transalate {
    transform: translateX(1000px);
  }


  .navBar__menu {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px;

  }

  .body__navBar ul {
    width: 50%;


  }

  .body__navBar ul li {
    text-align: right;
    background-color: var(--bg);
    color: var(--text-nav);
    margin: 1vh 0;
    border: none;
  }

  .nav__li>span,


  .nav__li {
    text-align: right;
    padding: 20px 0;
  }
  }

@media (min-width: 425px) and (max-width: 767px) {

  .body__navBar {
    width: 100%;
    backdrop-filter: none;
    padding: 0;

  }
  .body__navBar ul li a{
    color: var(--text);
  }

  .navBar {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 6vh;
    left: 0;
    justify-content: flex-start;
    align-items: flex-end;
    backdrop-filter: blur(15px);
    height: 94vh;
    max-height: 564px;
    overflow-x: auto;
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
  }


  .body__navBar>span {
    display: block;
    font-size: 40px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    width: 100%;
    padding: 0%;
    text-align: right;

  }

  .nav__ul {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px;

  }

  .nav__ul:nth-child(1) {
    order: 2;
    flex-direction: row;
    border-top: 2px solid var(--text);
    width: 100%;
    align-items: center;
  }


  .nav--transalate {
    transform: translateX(1000px);
  }


  .navBar__menu {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px;

  }

  .body__navBar ul {
    width: 50%;


  }

  .body__navBar ul li {
    text-align: right;
    background-color: var(--bg);
    color: var(--text);
    margin: 1vh 0;
    border: none;
  }

  .nav__li>span,


  .nav__li {
    text-align: right;
    padding: 20px 0;
  }


}

@media (min-width: 320px) and (max-width: 424px) {

  .body__navBar {
    width: 100%;
    backdrop-filter: none;
    padding: 0;

  }
  .body__navBar ul li a{
    color: var(--bg);
    text-align: right;
  }

  .navBar {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 6vh;
    left: 0;
    justify-content: flex-start;
    align-items: flex-end;
    backdrop-filter: blur(15px);
    height: 94vh;
    max-height: 564px;
    overflow-x: auto;
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
  }


  .body__navBar>span {
    
    display: block;
    font-size: 40px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    width: 100%;
    padding: 0%;
    text-align: right;

  }

  .nav__ul {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px;

  }

  

  .nav__ul:nth-child(1) {
    order: 2;
    flex-direction: row;
    border-top: 2px solid var(--text);
    width: 100%;
    align-items: center;
  }


  .nav--transalate {
    transform: translateX(1000px);
  }


  .navBar__menu {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px;

  }

  .body__navBar ul {
    width: 50%;


  }

  .body__navBar ul li {
    
    padding:  5px 0;
    margin: 10px 0;

  } 

  .nav__li>span,


  .nav__li {
    text-align: right;
    padding:0;
  }
  .nav_ul_lm{
    margin-top: 3vh;
  }



}