.section__h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}

.article {
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.article__button {
  position: absolute;
  transform-origin: 50% 50%;
  top: 50%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 10;
  background-color: lightcoral;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.left {
  left: 0;
}

.rigth {
  right: 0;
}

.article__button:active {
  transform: scale(0.7);
}

.article__ul {
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: red; */
  display: flex;
  list-style-type: none;
  /* transform: translateX(-100%); */
  transition: transform 0.5s ease-in-out;
}

.article__li {
  min-width: 33.33%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.article__img {
  width: 70%;
}


.article__p {
  text-align: center;
  padding: 0 3rem;
  font-size: 1em;
  box-sizing: border-box;
}

.article__h4 {
  font-size: 1rem;
  background-color: lightgreen;
  padding: 20px;
  border-radius: 30px;
}