 /* root */
 :root {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   
 }

 /*universal */
 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
 }

 a,a:link, a:visited, a:active {
  color: var(--text-nav);
  text-decoration:none;
}

 
 

 










 /*dialog*/
dialog{
  margin: 10vh auto;
  width:25%;
  height: 50%;
  padding: 0px 15px;  
  
}

dialog form{
  text-align: center;
  margin:0 auto ;
  width: 100%;
  display: flex;
  flex-direction: column;
}

dialog form ul{
  list-style: none;

}
dialog form ul li{
  margin: 20px 0;

}

.close__dialog{
  text-align: right;
}
.close__dialog button{
  margin:5px;
  width: 10%;
  height: 30px;
}
label{
  text-align: left;
  display: inline-block;
  vertical-align: top;
  
  width: 25%;
}

textarea{
  resize: none;
}

/* footer */
