.main__section__tech{

    margin: 7vh auto 2vh auto ;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

   }
  
   .main__section__tech h2{
    font-size: 3em;
    margin: 7vh 0 4vh 0;
    font-weight: 500;
    color: var(--text);
   }
   .main__section__tech ul{
    width: 100%;
    
    list-style: none;
    display: flex;
    justify-content:space-between;
   }
   .main__section__tech ul li{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    margin-top: 15px;
    justify-content: flex-end;
   }
  
  
   .main__section__tech ul li h3{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    color: rgb(238, 229, 112);
    margin-top: 20px;
    letter-spacing: 3px;
   }
  
   .icon__tech:hover{
    filter:drop-shadow(0px 5px 2px rgb(250, 234, 5));
  
   }

   @media (min-width: 1441px) and (max-width: 2560px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 425px) and (max-width: 768px) {
    .main__section__tech{

        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       }
    
       .main__section__tech ul{
        width: 100%;        
        list-style: none;
        display: block;
        justify-content:space-between;
       }
       .main__section__tech ul li{ 
        margin: 5vh auto;
        width: 50%;        
        
       }

}

@media (min-width: 320px) and (max-width: 424px) {

    .main__section__tech{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items:center;
       }
    
       .main__section__tech ul{
        width: 100%;        
        list-style: none;
        display: block;
        justify-content:space-between;
       }
       .main__section__tech ul li{ 
        margin: 5vh auto;
        width: 50%;        
        
       }
}
  